.waku_01{
  margin-bottom: 6px;
  background-image: url('../img/c_c_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_02{
  margin-bottom: 6px;
  background-image: url('../img/c_g_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}

.waku_03{
  margin-bottom: 6px;
  background-image: url('../img/c_s_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_04{
  margin-bottom: 6px;
  background-image: url('../img/c_c_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_05{
  margin-bottom: 6px;
  background-image: url('../img/c_s_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_06{
  margin-bottom: 6px;
  background-image: url('../img/c_g_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_07{
  margin-bottom: 6px;
  background-image: url('../img/c_s_3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_08{
  margin-bottom: 6px;
  background-image: url('../img/c_m_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_09{
  margin-bottom: 6px;
  background-image: url('../img/c_g_3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_10{
  margin-bottom: 6px;
  background-image: url('../img/c_g_4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}

.waku_11{
  margin-bottom: 6px;
  background-image: url('../img/c_c_3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}

.waku_12{
  margin-bottom: 6px;
  background-image: url('../img/c_m_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_13{
  margin-bottom: 6px;
  background-image: url('../img/c_s_4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_14{
  margin-bottom: 6px;
  background-image: url('../img/c_g_5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_15{
  margin-bottom: 6px;
  background-image: url('../img/c_c_4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_16{
  margin-bottom: 6px;
  background-image: url('../img/c_s_5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_17{
  margin-bottom: 6px;
  background-image: url('../img/c_c_5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
.waku_18{
  margin-bottom: 6px;
  background-image: url('../img/c_g_6.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}

.waku_D_1{
  margin-bottom: 6px;
  background-image: url('../img/c_d_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 434px;
}

.waku_D_2{
  margin-bottom: 6px;
  background-image: url('../img/c_d_2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 434px;
}

.waku_D_3{
  margin-bottom: 6px;
  background-image: url('../img/c_d_3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 434px;
}

.waku_D_4{
  margin-bottom: 6px;
  background-image: url('../img/c_d_4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 434px;
}

.waku_D_5{
  margin-bottom: 6px;
  background-image: url('../img/c_d_5.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 434px;
}

.waku_00{
  margin-bottom: 6px;
  background-image: url('../img/syousai.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1314px;
}
.waku_02_2{
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
  margin-bottom: 6px;
  background-image: url('../img/c_g_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 214px;
}
